<div class="desc">
  <div class="description">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-5 justify-content-center offset-0">
              <div class="descriptionIntro"><h3>{{this.info}}</h3></div>
              <!-- <div *ngFor="let item of requests">{{item.id}}. {{item.name}} {{item.lastname}} {{item.email}} </div> -->
            </div>
          </div>
        </div> <br><br>
          <form #formdata="ngForm" (ngSubmit)="submit()">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-2 form-group">
                        <p><label for="name">Imię</label></p>
                        <input id="name" class="form-control" type="text" name="name" [formControl]="name" placeholder="imię">
                        <div *ngIf="name.invalid && (name.dirty || name.touched)"
                        class="alert alert-danger">
                            <div *ngIf="name.errors?.['required']">
                                Pole imię jest wymagane
                            </div>
                            <div *ngIf="name.errors?.['minlength']">
                                Nazwa jest zbyt krótka
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 form-group offset-md-1">
                        <p><label for="lastname">Nazwisko</label></p>
                        <input id="lastname" class="form-control" type="text" name="lastname" [formControl]="lastname" placeholder="nazwisko">
                        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
                        class="alert alert-danger">
                            <div *ngIf="lastname.errors?.['required']">
                                Pole nazwisko jest wymagane
                            </div>
                            <div *ngIf="lastname.errors?.['minlength']">
                                Nazwa jest zbyt krótka
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 form-group offset-md-1">
                        <p><label for="email">E-mail</label></p>
                        <input id="email" class="form-control" type="email" name="email" [formControl]="email" placeholder="e-mail" required>
                        <div *ngIf="email.invalid && (email.dirty || email.touched)"
                        class="alert alert-danger">
                            <div *ngIf="email.errors?.['required']">
                                Pole e-mail jest wymagane
                            </div>
                            <div *ngIf="email.errors?.['email']">
                                Podaj prawidłowy adres
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <hr>
              <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-md-2"></div>
                    <div class="col-md-4 offset-md-1">
                        <button class="btn btn-success offset-1" type="submit">Zapisz</button>
                        <button class="btn btn-primary offset-1" type="reset">Wyczyść</button>
                    </div>
                    <div class="col-md-2 offset-md-1"></div>
                  </div>
                </div>
          </form>
      </div>
    </div>
  </div>
</div>
<br><br>
