<div class="faq">

  <div id="info">
    <p>Najczęściej zadawane pytania:</p><br>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="tab-content">
            <div class="card">
              <div class="card-header">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#collapseOne">
                  Czy usługa wymaga rejestracji?
                </button>
              </div>
              <div id="collapseOne" class="collapse">
                <div class="card-body">
                  Tylko płatne kursy wymagają rejestracji.
                </div>
              </div>
            </div>
            <br>

            <div class="card">
              <div class="card-header">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#collapseTwo">
                  W jaki sposób mogę dodać własne ogłoszenie?
                </button>
              </div>
              <div id="collapseTwo" class="collapse">
                <div class="card-body">
                  Własne ogłoszenie dodać można za pomocą przycisku "Dodaj ogłoszenie" na stronie głównej.
                </div>
              </div>
            </div>
            <br>

            <div class="card">
              <div class="card-header">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#collapseThree">
                  W jaki sposób mogę wziąć udział w szkoleniu?
                </button>
              </div>
              <div id="collapseThree" class="collapse">
                <div class="card-body">
                  Aby wziąć udział w szkoleniu należy wybrać ogłoszenie i wypełnić formularz zgłoszeniowy.
                </div>
              </div>
            </div>
            <br>

            <div class="card">
              <div class="card-header">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#collapseFour">
                  Czy udział w szkoleniu jest bezpieczny?
                </button>
              </div>
              <div id="collapseFour" class="collapse">
                <div class="card-body">
                  Wszystkie ogłoszenia są przez nas weryfikowane oraz przez innych użytkowników za pomocą systemu ocen.
                  Dzięki temu użytkownik sam może ocenić czy szkolenie jest warte jego uwagi.
                  Nieaktualne ogłoszenia lub ogłoszenia oszustów są na bieżąco usuwane.
                </div>
              </div>
            </div>
            <br>

            <div class="card">
              <div class="card-header">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#collapseFive">
                  Ile wynosi obecna marża?
                </button>
              </div>
              <div id="collapseFive" class="collapse">
                <div class="card-body">
                  Obecnie pobieramy 5% kosztu wykupienia kursu.
                </div>
              </div>
            </div>
            <br>

            <div class="card">
              <div class="card-header">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#collapseSix">
                  Czy mogę w jakiś sposób wesprzeć witrynę?
                </button>
              </div>
              <div id="collapseSix" class="collapse">
                <div class="card-body">
                  Obecnie nie ma możliwości wsparcia witryny.
                </div>
              </div>
            </div>
            <br>

        </div>
      </div>
    </div>
  </div>
</div>
