<div id="block">
	<div id="verticaly-form">
		<div class="image"><img src="assets/images/java.jpg" width="500px" height="500px" alt="java"></div>
		<div class="text">
			<div class="price"><h1>CENA: od 5999-8999zł<br></h1></div><br>
			<div class="contact"><h2>KONTAKT:<br>-email: javastormcourse@gmail.com<br>-formularz</h2></div>
	</div>
  </div>

  <div class="desc">
    <div class="descriptionIntro"><h3>OPIS:</h3></div>
    <div class="description"><h4>
          JavaStorm to szkoła programowania działająca na terenie Krakowa oraz Katowic.<br>
      Szkoła oferuje trwający 160 godzin kurs Front-End Developer (5999 złotych) oraz 320 godzinny kurs Full-Stack Developera (8999 złotych).<br>
      Zajęcia odbywają się w trybie zaocznym oraz weekendowym.<br>
      Zainteresowanych prosimy o mailowy pod adresem javastormcourse@gmail.com lub o wypełnienie formularza na stronie. </h4>
    </div>
	</div>

  <entry-form></entry-form>

	<div class="all_courses">
		<p><a routerLink="/list">	&gt;&gt;&gt; Przejdź do wszystkich kursów 	&lt;&lt;&lt;</a></p>
	</div>

</div>
