
<div id="main">
    <div id="info">
        <p>Lets Course!<br>Kursy i szkolenia zawodowe online</p>
    </div>

    <div id="list-grid-container">
        <div class="course" style="background-image: url('../assets/images/swimming.jpg'); background-size: cover; ">
            <a href="/swimming">NAUKA PŁYWANIA</a>
            <div class="grid-price">50zł/h</div>
        </div>

        <div class="course" style="background-image: url('../assets/images/welding.jpg'); background-size: cover; ">
            <a href="/spawanie">KURS SPAWALNICZY</a>
            <div class="grid-price">od 1600zł/kurs</div>
        </div>

        <div class="course" style="background-image: url('../assets/images/german.jpg'); background-size: cover; ">
            <a href="/niemiecki">NAUKA NIEMIECKIEGO&nbsp;C1</a>
            <div class="grid-price">60-80zł/h</div>
        </div>
    </div>

    <div class="all_courses">
        <p><a href="/list">	&gt;&gt;&gt; Przejdź do wszystkich kursów 	&lt;&lt;&lt;</a></p>
    </div>
    <div class="all_courses">
      <p><a href ="/course-form">	&gt;&gt;&gt; Utwórz nowy kurs 	&lt;&lt;&lt;</a></p>
    </div>
</div>

<div id="advert">
    <div id="vertically">
      <div class="advertImg" ><img src="assets/images/notes.jpg" alt="notes" width="400px" height="550px" ></div>
      <div class="text">
        <div class="advertTxt"><h1>Wiedza to potęga a my jesteśmy do niej kluczem!<br><br>
            Odszukaj i zapisz się na kurs bez wychodzenia z domu!<br><br>
            Do wyboru szeroki wachlarz kursów doszkalających i zawodowych.<br><br>
            Zdobywaj wiedzę pod okiem doświadczonych instruktorów różnych dziedzin. </h1>
        </div>
        <div class="advertTxt" ><h2>Prezentowane kursy oferowane są na drodze umów właścicieli strony z prowadzącymi zajęcia.<br><br>
                Wszelkie wątpliwości bądź też pytania prosimy kierować pod numer telefonu bądź też na adres e-mail podany w zakładce <span class="span-italic">skontaktuj się</span>.<br></h2>
        </div>
      </div>
    </div>
</div>


