<div id="block">
	<div id="verticaly-form">
		<div class="image"><img src="/assets/images/german.jpg" alt="german" width="500px" height="500px"></div>
		<div class="text">
			<div class="price"><h1>CENA: 60-80zł<br></h1></div><br>
			<div class="contact"><h2>KONTAKT:<br>-telefon: 224-147-155<br>-formularz</h2></div>
	  </div>
  </div>

  <div class="desc">
    <div class="descriptionIntro"><h3>OPIS:</h3></div>
    <div class="description"><h4>Profesjonalne kursy języka niemieckiego na poziomie podstawowym i rozszerzonym:<br><br>

      Oferujemy zorganizowane kursy z języka niemieckiego dla uczniów i osób dorosłych w następujących formach:<br>

      - zajęcia indywidualne lub parami - 80zł/h<br>
      - zajęcia według planu w grupie - 60zł/h<br><br>

      Możemy zagwarantować szeroki wachlarz materiałów ćwiczeniowych oraz edukacyjnych, a także interaktywne prezentacje udostępniane uczestnikom po zajęciach.<br>
      Zajęcia prowadzone są przez doświadczonych nauczycieli języka niemieckiego w formie zdalnej.<br>
      Oferujemy również sesje przygotowujące do matury. Ilość godzin i koszt do uzgodnienia indywidualnie.<br>
      Zainteresowanych zapraszamy do wypełnienia formularza lub też do kontaktu telefonicznego pod numerem: 224-147-155</h4></div>
  </div>

  <entry-form></entry-form>

	<div class="all_courses">
		<p><a href="/list">	&gt;&gt;&gt; Przejdź do wszystkich kursów 	&lt;&lt;&lt;</a></p>
	</div>

</div>
