<body>

  <h1>Przydatne linki</h1>
  <table>
    <tr>
      <th>DeepL</th>
      <th>Dante</th>
      <th>StackOverflow</th>
    </tr>
    <tr>
      <td><p><a href="https://www.deepl.com/pl/translator"><img src="assets/deepl.png" alt ="obraz z assetów"/></a></p></td>
      <td><p><a href="https://dante.iis.p.lodz.pl/#/mysubjects"><img src="assets/stack.jpg" alt ="obraz z src" /></a></p></td>
      <td><p><a href="https://stackoverflow.com"><img src="assets/dante.png" alt ="obraz z assetów" /></a></p></td>
    </tr>
    <tr>
      <td><div class="collapsible"><a href="https://www.deepl.com/pl/translator">Translator bazujący na ML</a></div></td>
      <td><div class="collapsible"><a href="https://dante.iis.p.lodz.pl/#/mysubjects">System testów jednostkowych</a></div></td>
      <td><div class="collapsible"><a href="https://stackoverflow.com">Kiedy 20 prób nie wystarczyło</a></div></td>
    </tr>
  </table>

</body>

<footer>
  <hr>
  <p>Autor: Dominik Gajda</p>
  <p>Szablon strony zaprojektowany na potrzeby ćwiczeń: 31.03.2022, Politechnika Łódzka</p>
</footer>
