<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <title>First webpage</title>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <meta name="First webpage" content="First webpage" />
    <meta keywords="html web page" content="First webpage" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  </head>

  <body>
                                                                         tesst
    <p><a href="https://www.deepl.com/pl/translator"><img height=250 width=490 src="assets/deepl.png" alt ="obraz z assetów"/></a></p>
    <p><a href="https://dante.iis.p.lodz.pl/#/mysubjects"><img height=100 width=490 src="assets/stack.jpg" alt ="obraz z src" /></a></p>
    <p><a href="https://stackoverflow.com"><img height=350 width=350 src="assets/dante.png" alt ="obraz z assetów" /></a></p>
  </body>

  <footer>
    <hr>
    <p>Autor: Dominik Gajda</p>
    <p>Szablon strony zaprojektowany na potrzeby ćwiczeń: 31.03.2022, Politechnika Łódzka</p>
  </footer>
</html>
