<body>
  <div id="menu">
    <ul>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/list">Kursy</a></li>
      <li><a href="mailto: letscourse_info@wp.pl">Skontaktuj się</a></li>
      <li><app-dark-mode></app-dark-mode></li>
      <li><a href="/main">Strona Główna</a></li>
      <li><img class="img-responsive-logo"  src="assets\images\logo.jpg" alt="logo"></li>
    </ul>
  </div>
  <router-outlet></router-outlet>
  <div id="footer">
    <div class="contact">KONTAKT:</div>
    <div class="contact">TEL.: 695-998-859</div>
    <div class="contact">E-MAIL: letscourse_info@wp.pl</div><br>
    <p class="disclaimer">&copy; Igor Tylak, Krzysztof Kaniuka, Dominik Gajda 2022</p>
    <p class="disclaimer"> Wszystkie treści na tej stronie są jedynie wypełniaczami, a nie prawdziwymi ofertami. Adresy e-mail oraz numery telefonów nie są realnymi kontaktami.</p>
  </div>
</body>
