<div id="main">
  <div id="info">
    <p>Katalog Kursów</p>
  </div>

  <div id="list-grid-container">
    <div class="course" style="background-image: url('../assets/images/german.jpg'); background-size: cover; ">
        <a href="/niemiecki">NAUKA NIEMIECKIEGO&nbsp;C1</a>
    </div>

    <div class="course" style="background-image: url('../assets/images/c.jpg'); background-size: cover; ">
        <a href="/c">PROGRAMOWANIE C/C++</a>
    </div>

    <div class="course" style="background-image: url('../assets/images/swimming.jpg'); background-size: cover; ">
        <a href="/swimming">KURS PŁYWANIA</a>
    </div>

    <div class="course" style="background-image: url('../assets/images/welding.jpg'); background-size: cover; ">
        <a href="/spawanie">KURS SPAWANIA</a>
    </div>

    <div class="course" style="background-image: url('../assets/images/hairdressing.jpg'); background-size: cover; ">
        <a href="/hairdressing">KURS FRYZJERSKI</a>
    </div>

    <div class="course" style="background-image: url('../assets/images/java.jpg'); background-size: cover; ">
        <a href="/java">KURS JAVA</a>
    </div>
  </div>

  <div class="all_courses" style="margin-top: 20px; margin-bottom: 20px;">
      <p><a href="/main">	&gt;&gt;&gt; Powrót do strony głównej	&lt;&lt;&lt;</a></p>
  </div>
</div>
