<div id="block">
  <div id="verticaly-form">
    <div class="image"><img src="/assets/images/c.jpg" width="500px" height="500px" alt="c"></div>
    <div class="text">
      <div class="price"><h1>CENA: 50-70zł<br></h1></div><br>
      <div class="contact"><h2>KONTAKT:<br>-telefon: 885-993-997<br>-formularz</h2></div>
    </div>
  </div>

  <div class="desc">
    <div class="descriptionIntro"><h3>OPIS:</h3></div>
    <div class="description"><h4>Cześć!<br>
      Nazywam cię Marcin i udzielę korepetycji z C++ i C na poziomie szkoły średniej i studiów.<br>
      Ukończyłem technikum informatyczne a obecnie jestem studentem informatyki i od lat interesuję się programowaniem i algorytmiką.<br>
      Moje kwalfikacje potwierdzają stosowne certyfikaty. <br><br>

      Proponuję zajęcia zdalnie lub stacjonarnie u mnie. Moja metoda nauki polega przede wszystkim na praktyce. Jest to jedyny sposób, by efektywnie nauczyć się programowania.<br>
      Zapewniam zadania a następnie je omawiam. W razie kłopotów, dla moich studentów jestem 24/h pod telefonem :).<br><br>

      Koszt to 50-70zł/h do uzgodnienia w zależności od stopnia zaawansowania materiału.<br>
      Zainteresowanych zapraszam do kontaktu pod numerem 885-993-997 lub do zapisu przez stronę kursu.<br>
      Na pewno się dogadamy :D.</h4>
    </div>
  </div>

  <entry-form></entry-form>

  <div class="all_courses">
    <p><a href="/list">	&gt;&gt;&gt; Przejdź do wszystkich kursów 	&lt;&lt;&lt;</a></p>
  </div>
</div>
