<div id="block">
	<div id="verticaly-form">
		<div class="image"><img src="assets/images/welding.jpg" alt="welding" width="500px" height="500px"></div>
		<div class="text">
			<div class="price"><h1>CENA: od 1600zł<br></h1></div><br>
			<div class="contact"><h2>KONTAKT:<br>-e-mail:spawaltex@wp.pl<br>-formularz</h2></div>
	  </div>
  </div>


  <div class="desc">
    <div class="descriptionIntro"><h3>OPIS:</h3></div>
    <div class="description"><h4>SPAWALTEX -certyfikowany, grupowy kurs spawania<br><br>

          Oferujemy profesjonalne, zakończone uzyskaniem certyfikatu kursy spawalnicze.<br>
          Do uzyskania możliwa jest jedna z następujących specjalności:<br>
          - SPAWANIE GAZOWE – METODA 311<br>
          - SPAWANIE ELEKTRYCZNE MMA – METODA 111<br>
          - W OSŁONIE CO2 (MAG) – METODA 135<br>
          - W OSŁONIE ARGONU (MIG) – METODA 131<br>
          - W OSŁNIE ARGONU (TIG) – METODA 141<br><br>

          Szkolenia prowadzimy na następujących materiałach podstawowych:<br>
          -stale niestopowe (grupa 1, 2, 3, 5, 6, 7, 9, 11 wg CR EN 15608)<br>
          -stale stopowe, nierdzewne (grupa 8 wg CR EN 15608) oraz duplex (grupa 10 wg CR EN 15608)<br>
          -stopy aluminium (grupa 21 do 23 wg CR EN 15608)<br><br>

          Ceny za kurs zaczynają się od 1600zł w zależności od wybranej specjalości.<br>
          Zajęcia odbywają się w piątki, soboty i niedziele w godzinach od 18:00-21:00 na terenie Technikum nr 3 w Łodzi (ul. Kilińskiego 159/163)<br>
          Chętnych prosimy o wypełnienie formularza na stronie www lub o kontakt mailowy pod adres spawaltex@wp.pl<br>
          </h4>
    </div>
  </div>

  <entry-form></entry-form>

	<div class="all_courses">
		<p><a routerLink="/list">	&gt;&gt;&gt; Przejdź do wszystkich kursów 	&lt;&lt;&lt;</a></p>
	</div>

</div>
