<div id="block">
	<div id="verticaly-form">
		<div class="image"><img src="/assets/images/swimming.jpg" alt="swimming" width="500px" height="500px"></div>
		<div class="text">
				<div class="price"><h1>CENA: 50zł<br></h1></div><br>
				<div class="contact"><h2>KONTAKT:<br>-telefon:860-964-495<br>-formularz</h2></div>

		</div>
	</div>

	<div class="desc">
		<div class="descriptionIntro"><h3>OPIS:</h3></div>
		<div class="description"><h4>Nauka oraz doskonalenie pływania dla dzieci i dorosłych<br><br>

			Zapraszam początkujących i średniozaawansowanych na zajęcia doszkalające w pływaniu<br>
			Kurs pozwoli na poznanie podstawowych stylów pływackich m.in styl klasyczny, kraul, delfin a także ułatwi oswojenie się z wodą.<br>
			Ćwiczenia odbywają się w formacie 15 lekcji po 2 godziny pod czujnym okiem ratownika oraz doświadczonego trenera.<br>
			Jako dwukrotny medalista Polskch Mistrzostw Pływackich gwarantuję profesjonalny i dostosowany do potrzeb uczestnika trening a także życzliwą i pogodną atmosferę.<br>
			Pływanie jest sportem ogólnorozwojowym poprawiającym wydolność organizmu oraz kondycję.<br>
			Terminy i miejsce zajęć do uzgodnienia indywidualnie.<br><br>

			Cena to 50zł za godzinę przy czym pierwsza godzina jest zawsze gratis.<br>
			Zainteresowanych proszę o kontakt pod numer: 860-964-495 lub o rejestrację na stronie www.
			</h4>
    </div>
	</div>

  <entry-form></entry-form>

	<div class="all_courses">
		<p><a href="/list">	&gt;&gt;&gt; Przejdź do wszystkich kursów 	&lt;&lt;&lt;</a></p>
	</div>

</div>
