<div id="block">
	<div id="verticaly-form">
		<div class="image"><img src="/assets/images/hairdressing.jpg" width="500px" height="500px" alt="hairdressing"></div>
    <div class="text">
      <div class="price"><h1>CENA: 2 800 zł<br></h1></div><br>
      <div class="contact"><h2>KONTAKT:<br>-formularz</h2></div>
	  </div>
  </div>

	<div class="desc">
		<div class="descriptionIntro"><h3>OPIS:</h3></div>
		<div class="description"><h4>
        Trwa rekrutacja na kurs fryzjerski organizowany przez Centrum Kształcenia ANAVO w trybie dziennym.
      Rozpoczęcie zajęć: LIPIEC 2022 r.
      Zapewniamy wszystkie narzędzia i kosmetyki oraz modeli.
      Po ukończeniu kursu i zdaniu egzaminu uczestnicy otrzymują zaświadczenie MEN oraz certyfikat.
      Zajęcia prowadzone przez doświadczonych mistrzów fryzjerstwa.
      Zapisy przez formularz zgłoszeniowy dostępny na stronie </h4>
    </div>
	</div>

  <entry-form></entry-form>

	<div class="all_courses">
		<p><a href="google.com">	&gt;&gt;&gt; Przejdź do wszystkich kursów 	&lt;&lt;&lt;</a></p>
	</div>

</div>
